# Ignore everything by default
*
*/

# Exception patterns - Only track documentation and releases
!.gitignore
!.gitattributes
!README.md
!INSTALLATION.md
!APK_DETAILS.md
!PRIVACY_POLICY.md
!LICENSE
!releases/
!releases/**/*.apk
!releases/**/*.aab
!releases/*.md
